Flask==0.11.1
Flask-JSGlue==0.3.1
gunicorn==19.7.1
html==1.16
httplib2==0.10.3
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.6.0
MarkupSafe==0.23
modulegraph==0.10.4
nbformat==4.3.0
nltk==3.2.3
pbr==1.10.0
plotly==2.0.8
Werkzeug==0.11.11
pyPdf==1.13
reportlab==3.4.0
fpdf==1.7.2
numpy==1.13.1
numpydoc==0.7.0
passlib==1.7.1
