{% extends "layout.html" %}

{% block navbarleft %}
	<ul class="nav navbar-nav">
		<li><a href="/overview?durationstart=0&durationend=end">Overview<span class="sr-only">(current)</span></a></li>
	    <li><a href="/public?durationstart=0&durationend=end">Public Hotline</a></li>
	    <li><a href="/hcreports">HC Worker Reports</a></li>
	    <li><a href="/upload">Upload Data</a></li>
	    <li class="active"><a href="/download">Download Report<span class="sr-only">(current)</span></a></li>
	</ul>
{% endblock %}

{% block body %}
	<p> Your report is being generated. You will recieve an email when it is finished. </p>
{% endblock %}
