{% extends "layout_datepicker.html" %}

{% block navbarleft %}
	<ul class="nav navbar-nav">
		<li><a href="/overview?durationstart=0&durationend=end">Overview<span class="sr-only">(current)</span></a></li>
	    <li><a href="/public?durationstart=0&durationend=end">Public Hotline</a></li>
	    <li class="active"><a href="/hcreports">HC Worker Reports<span class="sr-only">(current)</span></a></li>
	    <li><a href="/upload">Upload Data</a></li>
	    <li><a href="/download">Download Report</a></li>
	</ul>
{% endblock %}

{% block durationfilter %}
{% endblock %}

{% block body %}
	{{ plot1 | safe }}
	{{ plot2 | safe }}
	{{ plot3 | safe }}
{% endblock %}
