
{% extends "layout_datepicker.html" %}

<html>
<body>
{% block durationfilter %}
    <!-- Javascript for duration filter -->
    <script type="text/javascript" src={{ url_for('static', filename="js/layout_durationfilter.js")}}></script> 
    <!-- HTML for duration filter --> 
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dfilter">Filter Duration <span class="caret"></span></a>
        <ul class="dropdown-menu" >
            <!-- Three pre-selected duration ranges: 0-5 minutes, 5-10 minutes, and 10+ minutes, as well as all calls -->
            <li><a onclick="getUrl(0, 5)" href="#">0 - 5 minutes</a></li>
            <li><a onclick="getUrl(5, 10)" href="#">5 - 10 minutes</a></li>
            <li><a onclick="getUrl(10, 'end')" href="#">10+ minutes</a></li>
            <li role="separator" class="divider"></li>
            <li><a onclick="getUrl(0, 'end')" href="#">All</a></li>
        </ul>
    </li>
{% endblock %}

</body>
</html>



