<!DOCTYPE html>
<html dir="ltr" lang="en-US">

   <head>
      <meta charset="UTF-8" />
      <title>115 Analytics Dashboard</title>
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" media="all" href="/static/daterangepicker.css" />
   </head>

   <body style="margin: 60px 0">
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/static/js/moment.js"></script>
      <script type="text/javascript" src="/static/js/daterangepicker.js"></script>
      <div class="container">
        <div class="page-header">
          <h1>
            115 Analytics Dashboard
            <small>{% block subtext %}{% endblock %}</small>
           </h1>
            <nav class="navbar navbar-default">
               <div class="container-fluid">
                  <div id="navbar" class="navbar-collapse collapse">
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                          <li><a href="/">Overview</a></li>
                          <li class="active"><a href="/public">Public Hotline <span class="sr-only">(current)</span></a></li>
                          <li><a href="/hcreports">HC Worker Reports</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter Duration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="/public?duration_start=0+duration_end=1">0 - 1 minutes</a></li>
                              <li><a href="/public?duration_start=1+duration_end=2">1 - 2 minutes</a></li>
                              <li><a href="/public?duration_start=3+duration_end=4">2 - 3 minutes</a></li>
                              <li><a href="/public?duration_start=4+duration_end=5">3 - 4 minutes</a></li>
                              <li><a href="/public?duration_start=5+duration_end=end">5 + minutes</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="/public?duration_start=0+duration_end=end">All</a></li>
                            </ul>
                          </li>
                          <li>
                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 14px 14px; border: 1px solid #ccc; width: 100%">
                              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                              <span></span> <b class="caret"></b>
                            </div>
                            <script type="text/javascript">
                              $(document).ready(function() {
                                var start = moment().subtract(1, 'months');
                                var end = moment();
                                $.ajax({
                                      //The URL to process the request
                                        'url' : '/public',
                                      //The type of request, also known as the "method" in HTML forms
                                      //Can be 'GET' or 'POST'
                                        'type' : 'GET',
                                      //Any post-data/get-data parameters
                                      //This is optional
                                        'data' : {
                                          startDate : 'hello',
                                        },            
                                      //The response from the server
                                        success : function(data, status, jqXHR) {
                                        //You can use any jQuery/JavaScript here!!!
                                          //alert(status)
                                        },
                                        error: function(jqXHR, textStatus, errorThrown) {
                                          //alert(errorThrown)
                                        }
                                        
                                      });
                                function cb(start, end) {
                                  $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                                  $('#reportrangespan').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                                   
                                }
                                $('#reportrange').daterangepicker({
                                  startDate: start,
                                  endDate: end,
                                  ranges: {
                                    'Past Week': [moment().subtract(1, 'weeks'), moment()],
                                    'Past Month': [moment().subtract(1, 'months'), moment()],
                                    'Past Quarter': [moment().subtract(3, 'months'), moment()],
                                    'Past Semester': [moment().subtract(6, 'months'), moment()],
                                    'Past Year': [moment().subtract(1, 'years'), moment()]
                                  }
                                }, cb);

                                cb(start, end);    
                              });
                            </script>
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>
            </nav>
          </div>
          <!--<span id="reportrangespan"></span>-->
          {% block body %}{% endblock %}
        </div>
      </div>
    </body>

</html>
