<!DOCTYPE html>
<html dir="ltr" lang="en-US">

   <head>
      <meta charset="UTF-8" />
      <title>115 Analytics Dashboard</title>
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
   </head>

   <body style="margin: 60px 0">
      <div class="container">
        <div class="page-header">
          <h1>
            115 Analytics Dashboard
           </h1>
        </div>
        <p> Loading... </p>
      </div>
    </body>

    <script type='text/javascript'>
      var request = new XMLHttpRequest();
      request.open('POST', '/loadingmemory');
      request.onload = function() {
        if (request.status === 200 && request.responseText === 'done') {
          // long process finished successfully, redirect user
          window.location = '/overview';
        } 
        else {
          // ops, we got an error from the server
          alert('Issue loading data. Please try again in a few minutes.');
        }
      };
      request.onerror = function() {
        // ops, we got an error trying to talk to the server
        alert('Issue loading data. Please try again in a few minutes.');
      };
      request.send();
    </script>

</html>
