{% extends "layout.html" %}
{% set active_page = "uploadlink" %}
    
{% block extralinks %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
{% endblock %}

{% block body %}
    <!-- progress bar -->
	<div class="row bs-wizard" style="border-bottom:0;">      
      	<div class="col-xs-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="/upload?step=1" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Download call log CSV from Verboice application.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Confirm call log is in appropriate format.</div>
        </div>
		<div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="/upload?step=3" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Upload call log CSV to dashboard.</div>
        </div>  
        <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Finish.</div>
        </div>
    </div>
    <!-- Text -->
    <br />
    <br />
	<p> The next step is to ensure that the call log is in the proper format for upload. While the copy originally downloaded from Verboice ought to suffice, it is worth the time to ensure that the following columns are included in the log. While the columns need not appear in the same order they are in below, they must have the same spelling and capitalization. The dashboard will automatically detect which public and HC diseases are present in a call log, as long as column names follow the conventions listed below. A template of an uploadable CSV file can be downloaded <a href="/upload?step=template"> here</a>.</p>
    <b> General hotline-related columns </b>
    <ul>
        <li> ID </li>
        <li> Started </li>
        <li> Caller interaction </li>
        <li> Duration(second) </li>
        <li> Caller ID </li>
        <li> Status </li>
    </ul>
    <b> Public hotline-related columns </b>
    <ul>
        <li> hotline_menu </li>
        <li> disease_menu </li>
        <li> A column for each public disease's menu, named as <i> disease</i>_menu </li>
    </ul>
    <b> HC report-related columns </b>
    <ul>
        <li> level_worker </li>
        <li> cdc_report_started </li>
        <li> cdc_report_ended </li>
        <li> Two columns for each HC disease, named as var_<i>disease</i>_case and var_<i>disease</i>_death</li>
    </ul>
    <!-- Button to go on to next step -->
    <form enctype="multipart/form-data" method="post" action="/upload?step=3">
        <button type="submit" class="btn btn-default">Next</button>
    </form>
{% endblock %}
